html
{
	scrollbar-color: #8a66bd #543a78;
}

body
{
	background: #221a2a;
	-webkit-tap-highlight-color: #76559f8c;
	scrollbar-color: #8a66bd #543a78;
}

.prettyBox input[type="radio"]
{
	appearance: none;
    border-radius: 50%;
	border: 2px solid #8a66bd;
	background-clip: content-box;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	padding: 3px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.prettyBox input[type="radio"]:checked
{
	background-color: #d8c6f1;
}

.prettyBox input[type="radio"]:enabled:not(:checked):hover
{
	background: #5b447c;
}

.autoFilterPicklistHolder
{
	border: solid 1px #8a66bd;
}

.autoFilterItem.selected
{
	background: #d8c6f1;
	color: #3a3048;
}

.autoFilterPicklist
{
	border-top: solid 1px #8a66bd;
}

.autoFilterSearchHolder i
{
	color: inherit;
}

.sideBar
{
	background: #221a2a;
}

.topBar
{
	background: linear-gradient(#7c52b7, #170b28);
}
	
.topBarInner
{
	color: #d8c6f1;
}

.spanLink
{
	color: #8971ab;
}

.spanLink:after 
{
	color: #8a66bd;
}

.spanLink.selected
{
	color: #d8c6f1;
}

.forecastHeader
{
	border-bottom: 1px solid #8a66bd;
}

.forecastCard
{
	border-left: 1px solid #8a66bd;
}

.forecastCard:last-child
{
	border-right: 1px solid #8a66bd;
}

.menuItem 
{
	color: #d8c6f1;
}

.menuItem:hover 
{
	background: #675e72;
	color: #d8c6f1;
}
.menuItem.selected
{
	background: #5a3c7e;
	color: #d8c6f1;
}

.menuItem.selected:hover
{
	background: #5d447a;
	color: #d8c6f1;
}
.prettyBox
{
	background: #3a3048;
	color: #d8c6f1;
}

.prettyBoxContent 
{
	border-top: 1px solid #8a66bd;
}

.prettyBoxList 
{
    border-bottom: 1px solid #8a66bd;
}

::-webkit-scrollbar-track
{
	background: #543a78;
}

::-webkit-scrollbar-thumb
{
	background: #8a66bd;
}
::-webkit-scrollbar-button:vertical:decrement
{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5' fill='rgb(216, 198, 241)'><polygon points='5,0 0,5 10,5'/></svg>");
}
::-webkit-scrollbar-button:vertical:increment
{
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5' fill='rgb(216, 198, 241)'><polygon points='0,0 10,0 5,5'/></svg>");
}
::-webkit-scrollbar-button:vertical:hover
{
	background-color: #3a3048;
}