@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    font-style: normal;
    font-weight: 400;
    src: local('Perfect DOS VGA 437 Win'), url('Perfect DOS VGA 437 Win.woff') format('woff');
}


